* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #222;
    height: 50px;
    padding: 0 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 10px;
}

nav img {
    max-height: 1.5em;
}

nav ul {
    display: flex;
    font-size: 0.8em;
    
}

nav li {
    list-style-type: none;

}

nav li a {
    color: #929292;
    text-decoration: none;
    font-family: "Arvo", serif;
    padding-left: 1.25em;
}
.menu {
    display: flex;
    flex-direction: row;
    position: relative;

    right: 0;

}
.menuButtonContainer {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menuToggle {
    display: none;
}

.menuButton,
.menuButton::before,
.menuButton::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menuButton::before {
    content: '';
    margin-top: -8px;
}

.menuButton::after {
    content: '';
    margin-top: 8px;
}

#menuToggle:checked+.nav-container .menuButtonContainer .menuButton::before {
    margin-top: 0px;
    transform: rotate(405deg);
}

#menuToggle:checked+.nav-container .menuButtonContainer .menuButton {
    background: rgba(255, 255, 255, 0);
}

#menuToggle:checked+.nav-container .menuButtonContainer .menuButton::after {
    margin-top: 0px;
    transform: rotate(-405deg);
}

.heroBanner {
    background-image: url("./assets/hero-image.jpg");
    height: 650px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroBanner h1 {
    color: #fff;
    font-family: "Arvo", serif;
    margin-bottom: 20px;
    font-size: 370%;
    max-width: 900px;
    text-align: center;
    font-weight: lighter;
}

.heroBanner p {
    color: #fff;
    max-width: 1000px;
    font-size: 132%;
    text-align: center;
    font-family: "Arvo", serif;
}

.heroBanner strong {
    font-weight: bolder;
}

.heroBanner button {
    width: 200px;
    height: 60px;
    padding: 10px;
    background-color: #f74c3c;
    color: #fff;
    font-family: helvetica, arial, sans-serif;
    font-size: 26px;
    border-color: #f74c3c;
    margin-bottom: 30px;
    margin-top: 20px;
    border-radius: 5%;
}

.heroBanner img {
    height: 80px;
    width: 80px;
}

.container {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-family: helvetica, arial, sans-serif;

}

.container strong {
    color: #f74c3c;
}

.container h1 {
    font-size: 2em;
    font-family: "Arvo", serif;
    color: #f74c3c;
}

.container hr,
.container .title-wrapper hr {
    border-top: 1px solid #f74c3c;
    width: 160px;
    margin-top: 15px;
    margin-bottom: 20px;
}

.container p {
    font-family: Helvetica;
    font-weight: lighter;
    font-stretch: 200%;
    font-size: 25px;
    margin-right: 100px;
    margin-left: 100px;
}

#whoWeAre {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#whoWeAre img {
    width: 10%;
    padding: 20px;
}

#whoWeAre p {
    max-width: 1200px;
}

.fa {
    font-size: 300%;
    padding: 30px;
    color: #fff;
    background-color: #333;
    border-radius: 50%;
    margin: 10px;
}

.container .title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#getInvolved {
    background-color: #f5f5f5;
}

.card-container {
    display: flex;
}

.card h2 {
    font-family: "Arvo", serif;
    color: #f74c3c;
    margin: 10px 0;

}

.card button {
    color: #f74c3c;
    margin: 15px 0;
    padding: 8px;
    border-radius: 5%;
    border: 1px solid #ccc;
    background-color: #fff;
    font-weight: bolder;
}

footer {
    background-color: #f74c3c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 150px 100px 30px 100px;
}

footer img {
    height: 40px;
}

footer i {
    color: #333;
}

.fa-circle-chevron-up {
    font-size: 200%;
    color: #333;
}


/* Media Queries */

/* Pour les écrans jusqu'à 900px de large */
@media (max-width: 991px) {
    .card-container {
        flex-direction: column;
    }
}

/* Pour les écrans jusqu'à 600px de large */
@media (max-width: 767px) {
    .card-container {
        flex-direction: column;
        display: flex;
    }

    .nav-container{
        width: 100%;
    }

    .menuButtonContainer {
        display: flex;
    }

    .menu {
        position: absolute;
        top: 0;
        margin-top: 50px;
        left: 0;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }

    #menuToggle~.menu li {
        height: 0;
        margin: 0;
        padding: 0;
        border: 0;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #menuToggle:checked~.menu li {
        border: 1px solid #333;
        height: 2.5em;
        padding: 0.5em;
        transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .menu>li {
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: white;
        background-color: #222;
    }

    .menu>li:not(:last-child) {
        border-bottom: 1px solid #444;
    }
}